.article {
    list-style-type: none;
    background-color: skyblue;
    margin: 20px;
    padding: 10px;
    border: black 1px solid;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
}

.author {
    color: slategray;
    margin: 0px;
}